@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

.nav--wrapper {
  padding: 1rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
}
.nav--wrapper__logo {
  z-index: 2;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #000;
}
.nav--wrapper__logo .menu-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  margin-right: 0.8rem;
  cursor: pointer;
}
.nav--wrapper__logo .menu-btn__bar {
  background: #000000;
  width: 100%;
  height: 0.125rem;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav--wrapper__logo .menu-btn__bar::before {
  content: "";
  background: #000000;
  width: 100%;
  height: 0.125rem;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}
.nav--wrapper__logo .menu-btn__bar::after {
  content: "";
  background: #000000;
  width: 100%;
  height: 0.125rem;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
.nav--wrapper__logo .menu-btn__bar.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}
.nav--wrapper__logo .menu-btn__bar.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}
.nav--wrapper__logo .menu-btn__bar.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}
.nav--wrapper__logo img {
  width: 1.8rem;
  aspect-ratio: 5/4;
}
.nav--wrapper .mobile {
  display: none;
}
.nav--wrapper__links {
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding: 4rem 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav--wrapper__links .link {
  padding: 1.2rem 0;
  margin-bottom: 2rem;
}
.nav--wrapper__links .link-btn {
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: #3C84AB;
  color: #fff;
  text-align: center;
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-6%, -50%);
          transform: translate(-6%, -50%);
}

.homepage--wrapper {
  padding: 3rem 1.2rem;
}
.homepage--wrapper__intro {
  padding-top: 2rem;
}
.homepage--wrapper__intro .text {
  width: 100%;
}
.homepage--wrapper__intro .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 2.85rem;
  margin-bottom: 2rem;
}
.homepage--wrapper__intro .text .introBtn_link {
  display: none;
}
.homepage--wrapper__intro .text .search_wrapper {
  position: relative;
}
.homepage--wrapper__intro .text .search_wrapper input[type=search] {
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
}
.homepage--wrapper__intro .text .search_wrapper .search {
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #3C84AB;
  color: #fff;
  position: absolute;
  top: 0.25rem;
  right: 0.4rem;
  font-weight: 500;
}
.homepage--wrapper__intro .intro_img {
  display: none;
  width: 100%;
}
.homepage--wrapper__intro .intro_img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer {
  padding-top: 2rem;
  position: relative;
  height: 470px;
}
.homepage--wrapper__employer .employer-img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer .employer-img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer .text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  background-color: #fff;
  width: 100%;
}
.homepage--wrapper__employer .text p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.homepage--wrapper__employer .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.homepage--wrapper__employer .text .btn_link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  background-color: #3C84AB;
}
.homepage--wrapper__categories {
  padding-top: 2rem;
}
.homepage--wrapper__categories h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.homepage--wrapper__categories .categories_wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
.homepage--wrapper__categories .category {
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  background-color: #3C84AB;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.homepage--wrapper__categories .category .icon {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.homepage--wrapper__employee {
  padding-top: 2rem;
  position: relative;
  height: 470px;
}
.homepage--wrapper__employee .employee-img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employee .employee-img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employee .text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  background-color: #fff;
}
.homepage--wrapper__employee .text p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.homepage--wrapper__employee .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.homepage--wrapper__employee .text .btn_link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  background-color: #3C84AB;
}

@media screen and (min-width: 360px) {
  .homepage--wrapper__intro .text h1 {
    font-size: 3.5rem;
  }
  .homepage--wrapper__employer {
    height: 450px;
  }
  .homepage--wrapper__employee {
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  .homepage--wrapper {
    padding: 3rem 4rem;
  }
  .homepage--wrapper__intro .text h1 {
    font-size: 5rem;
  }
  .homepage--wrapper__intro .text .search_wrapper input[type=search] {
    padding: 2rem;
    border-radius: 4rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .homepage--wrapper__intro .text .search_wrapper .search {
    padding: 1.8rem;
    top: 0.55rem;
    right: 1.2rem;
  }
  .homepage--wrapper__employer .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__categories .categories_wrapper {
    grid-template-columns: auto auto auto;
  }
  .homepage--wrapper__employee .text h1 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .homepage--wrapper__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__intro .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage--wrapper__intro .text h1 {
    font-size: 4.3rem;
  }
  .homepage--wrapper__intro .text .introBtn_link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1.3rem 3rem;
    border-radius: 5rem;
    width: 15rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background-color: #3C84AB;
  }
  .homepage--wrapper__intro .text .search_wrapper {
    display: none;
  }
  .homepage--wrapper__intro .intro_img {
    display: block;
  }
  .homepage--wrapper__employer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__employer .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  .homepage--wrapper__employer .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employer .text .btn_link {
    width: 12rem;
    padding: 1.2rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .homepage--wrapper__categories h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  .homepage--wrapper__categories .categories_wrapper {
    grid-template-columns: auto auto auto auto;
  }
  .homepage--wrapper__categories .category {
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .homepage--wrapper__categories .category .icon {
    font-size: 2rem;
  }
  .homepage--wrapper__employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__employee .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  .homepage--wrapper__employee .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employee .text .btn_link {
    width: 12rem;
    padding: 1.2rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.form {
  background-color: #fff;
  -webkit-box-shadow: 0.4px 0.4px 4px #000;
          box-shadow: 0.4px 0.4px 4px #000;
  width: 100%;
  padding: 1.2rem 1rem;
}
.form * {
  font-family: "Fira Sans Condensed", sans-serif;
}
.form h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.form input,
.form button {
  width: 100%;
}
.form input {
  padding: 10px 0;
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
}
.form .form-main {
  width: 100%;
}
.form .input-wrapper {
  margin-bottom: 1rem;
}
.form .submit-btn {
  background-color: #3C84AB;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10rem;
  border: none;
  margin-top: 2rem;
  padding: 0.5rem;
}

#signup-page,
#login-page {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 1.2rem;
}

.footer--wrapper {
  background-color: #3C84AB;
  color: #fff;
  padding: 1.2rem;
}
.footer--wrapper__socials {
  margin-bottom: 1.5rem;
}
.footer--wrapper__socials h2 {
  font-family: "Slabo 27px", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer--wrapper__socials .socials_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer--wrapper__socials .socials_wrapper .social {
  padding: 0.6rem 0.7rem;
  border: 2px solid #fff;
  border-radius: 50%;
}
.footer--wrapper__attribution p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.825rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer--wrapper {
    padding: 3rem 4rem;
  }
}