@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-bar .mnav--wrapper {
  padding: 0.75rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .mnav--wrapper__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .mnav--wrapper__left .burger {
  width: 2rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  position: relative;
}
.nav-bar .mnav--wrapper__left .burger span {
  height: 2px;
  width: 2rem;
  background-color: #000;
  display: block;
  position: absolute;
}
.nav-bar .mnav--wrapper__left .burger #bar-1 {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 3px);
          transform: translate(-50%, 3px);
}
.nav-bar .mnav--wrapper__left .burger #bar-2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.nav-bar .mnav--wrapper__left .burger #bar-3 {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
}
.nav-bar .mnav--wrapper__left .logo img {
  width: 1.8rem;
}
.nav-bar .mnav--wrapper .open-menu {
  overflow: hidden;
  width: 25rem;
  height: 100vh;
  background-color: #181847;
  position: absolute;
  top: 3.25rem;
  left: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.nav-bar .mnav--wrapper .close-menu {
  overflow: hidden;
  width: 15rem;
  height: 100vh;
  background-color: #181847;
  position: absolute;
  top: 3.25rem;
  left: -100%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.nav-bar .mnav--wrapper__right .link {
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  background-color: #3C84AB;
  color: #fff;
  text-decoration: none;
}
.nav-bar .dnav--wrapper {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav-bar .mnav--wrapper {
    display: none;
  }
  .nav-bar .dnav--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .nav-bar .dnav--wrapper__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .dnav--wrapper__left .logo img {
    width: 5rem;
  }
  .nav-bar .dnav--wrapper__left .links .link {
    color: #000;
    text-decoration: none;
    margin: 0.5rem;
  }
  .nav-bar .dnav--wrapper__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar .dnav--wrapper__right .links .link {
    color: #000;
    text-decoration: none;
    margin: 0.5rem;
  }
}
.homepage--wrapper {
  padding: 0;
}
.homepage--wrapper__intro {
  padding-top: 0;
}
.homepage--wrapper__intro .text {
  width: 100%;
}
.homepage--wrapper__intro .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.homepage--wrapper__intro .text p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.homepage--wrapper__intro .text .introBtn_link {
  display: inline-block;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #3C84AB;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1.7rem;
  border-radius: 5rem;
}
.homepage--wrapper__intro .intro_img {
  display: none;
  width: 100%;
}
.homepage--wrapper__intro .intro_img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer {
  padding-top: 2rem;
  position: relative;
  height: 470px;
}
.homepage--wrapper__employer .employer-img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer .employer-img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employer .text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  background-color: #fff;
  width: 100%;
}
.homepage--wrapper__employer .text p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.homepage--wrapper__employer .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.homepage--wrapper__employer .text .btn_link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1.75rem;
  border-radius: 2rem;
  background-color: #3C84AB;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.homepage--wrapper__categories {
  padding-top: 2rem;
}
.homepage--wrapper__categories h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.homepage--wrapper__categories .categories_wrapper {
  display: grid;
  grid-template-columns: auto auto;
}
.homepage--wrapper__categories .category {
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  background-color: #3C84AB;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.homepage--wrapper__categories .category .icon {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}
.homepage--wrapper__employee {
  padding-top: 2rem;
  position: relative;
  height: 470px;
}
.homepage--wrapper__employee .employee-img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employee .employee-img img {
  width: 100%;
  height: 100%;
}
.homepage--wrapper__employee .text {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  background-color: #fff;
}
.homepage--wrapper__employee .text p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.homepage--wrapper__employee .text h1 {
  font-family: "Slabo 27px", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.homepage--wrapper__employee .text .btn_link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 1.75rem;
  border-radius: 2rem;
  background-color: #3C84AB;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 360px) {
  .homepage--wrapper__employer {
    height: 450px;
  }
  .homepage--wrapper__employee {
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  .homepage--wrapper {
    padding: 3rem 4rem;
  }
  .homepage--wrapper__intro .text h1 {
    font-size: 5rem;
  }
  .homepage--wrapper__intro .text p {
    font-size: 2rem;
  }
  .homepage--wrapper__intro .text .introBtn_link {
    padding: 1rem 2rem;
    font-size: 1.75rem;
  }
  .homepage--wrapper__employer .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employer .text .btn_link {
    padding: 0.6rem 2rem;
    font-size: 1.75rem;
  }
  .homepage--wrapper__categories h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__categories .categories_wrapper {
    grid-template-columns: auto auto auto;
  }
  .homepage--wrapper__categories .categories_wrapper .category {
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  .homepage--wrapper__categories .categories_wrapper .category .icon {
    font-size: 2rem;
  }
  .homepage--wrapper__employee .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employee .text .btn_link {
    padding: 0.6rem 2rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .homepage--wrapper {
    padding: 0 6rem;
  }
  .homepage--wrapper__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__intro .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage--wrapper__intro .text h1 {
    font-size: 4.3rem;
  }
  .homepage--wrapper__intro .text .introBtn_link {
    color: #fff;
    text-decoration: none;
    padding: 1.3rem 3rem;
    border-radius: 5rem;
    width: 15.5rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    background-color: #3C84AB;
  }
  .homepage--wrapper__intro .intro_img {
    display: block;
  }
  .homepage--wrapper__employer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__employer .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  .homepage--wrapper__employer .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employer .text .btn_link {
    width: 12rem;
    padding: 1.2rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .homepage--wrapper__categories h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  .homepage--wrapper__categories .categories_wrapper {
    grid-template-columns: auto auto auto auto;
  }
  .homepage--wrapper__categories .category {
    padding: 1.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
  }
  .homepage--wrapper__categories .category .icon {
    font-size: 2rem;
  }
  .homepage--wrapper__employee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .homepage--wrapper__employee .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  .homepage--wrapper__employee .text h1 {
    font-size: 2.3rem;
  }
  .homepage--wrapper__employee .text .btn_link {
    width: 12rem;
    padding: 1.2rem;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
.form {
  background-color: #fff;
  -webkit-box-shadow: 0.4px 0.4px 4px #000;
          box-shadow: 0.4px 0.4px 4px #000;
  width: 35%;
  padding: 1.2rem 1rem;
}
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
.form * {
  font-family: "Fira Sans Condensed", sans-serif;
}
.form h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.form input,
.form button {
  width: 100%;
}
.form input {
  padding: 10px 0;
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
}
.form .form-main {
  width: 100%;
}
.form .input-wrapper {
  margin-bottom: 1rem;
}
.form .submit-btn {
  background-color: #3C84AB;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10rem;
  border: none;
  margin-top: 2rem;
  padding: 0.5rem;
}

#signup-page,
#login-page {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 1.2rem;
}

.footer--wrapper {
  background-color: #3C84AB;
  color: #fff;
  padding: 1.2rem;
}
.footer--wrapper__socials {
  margin-bottom: 1.5rem;
}
.footer--wrapper__socials h2 {
  font-family: "Slabo 27px", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer--wrapper__socials .socials_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer--wrapper__socials .socials_wrapper .social {
  padding: 0.6rem 0.7rem;
  border: 2px solid #fff;
  border-radius: 50%;
}
.footer--wrapper__attribution p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.825rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer--wrapper {
    padding: 3rem 4rem;
  }
}
.navin--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 0.75rem;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navin--wrapper .burger {
  width: 2rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 1rem;
}
.navin--wrapper .burger span {
  height: 2px;
  width: 2rem;
  background-color: #000;
  display: block;
  position: absolute;
}
.navin--wrapper .burger #bar-1 {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 3px);
          transform: translate(-50%, 3px);
}
.navin--wrapper .burger #bar-2 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.navin--wrapper .burger #bar-3 {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
}
.navin--wrapper .logo {
  margin-left: 3rem;
}
.navin--wrapper .logo img {
  width: 2.5rem;
  aspect-ratio: 6/4;
}
.navin--wrapper .content .icon {
  font-size: 1.75rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .navin--wrapper {
    padding: 1rem 3rem;
  }
  .navin--wrapper .burger {
    display: none;
  }
  .navin--wrapper .logo {
    margin-left: 0;
  }
  .navin--wrapper .logo img {
    width: 4rem;
  }
  .navin--wrapper .content .icon {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1020px) {
  .dash--wrapper {
    width: 24rem;
    height: 100vh;
    background-color: #4646a8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */