@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

$primary: #1E3888;
$secondary: #00001E;
$neutral: #F0F9FF;
$danger: #F71735;
$success: #06A77D;

$main-font: 'Slabo 27px', serif;
$secondary-font: 'Fira Sans Condensed', sans-serif;


@mixin fontmain($size) {
  font-family: $main-font;
  font-size: $size;
}

@mixin fontsecondary($size, $weight) {
  font-family: $secondary-font;
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins';
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#nav {
  height: 80px;
}

#body {
  display: flex;
  flex: 1;
}

#side {
  width: 18rem; /* Adjust the width as needed */
  flex-shrink: 0;
}

#main {
  flex-grow: 1;
  padding: 2rem;
}

#footer {
  /* Add styles for the footer as needed */
}
