@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Slabo+27px&display=swap');

$main-color: #3C84AB;
$secondary-color: #fff;

$main-font: 'Slabo 27px', serif;
$secondary-font: 'Fira Sans Condensed', sans-serif;


@mixin fontmain($size) {
  font-family: $main-font;
  font-size: $size;
}

@mixin fontsecondary($size, $weight) {
  font-family: $secondary-font;
  font-size: $size;
  font-weight: $weight;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}




