




@media screen and (min-width: 1020px) {
  .dash--wrapper{
    width: 24rem;
    height: 100vh;
    background-color: #4646a8;
  
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}