@media screen and (min-width: 1020px) {
  .dash__wrapper {
    @include flex(column);
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem;
    width: inherit;
    height: 100%;
    background-color: lighten($secondary, 60%);
    position: fixed;
    left: 0;
    z-index: 99;

    .dash__items {
      @include flex(column);

      .item {
        @include flex(row);
        align-items: center;
        padding: .75rem;
        margin: .5rem 0;
        background-color: #e7e7e7;
        border-radius: .5rem;
      }
    }

    .create__job {
      margin: 0.1rem 0;


      .btn {
        background-color: $secondary;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: $neutral;
        font-weight: 600;
        word-spacing: 12px;
        letter-spacing: 2px;
        width: 100%;
        padding: 1rem;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
      }
    }
  }
}
