$neutral-black: #000;
$grey: #808080;

.form {
    background-color: $secondary-color;
    box-shadow: 0.4px 0.4px 4px $neutral-black;

    width: 100%;
    padding: 1.2rem 1rem;

    * {
        font-family: $secondary-font;
    }

    h2 {
        @include fontsecondary(25px, 600);
        margin-bottom: 2rem;
    }

    input,
    button {
        width: 100%;
    }

    input {
        padding: 10px 0;
        border: none;
        border-bottom: solid 1px $neutral-black;
        outline: none;
    }

    .form-main {
        width: 100%;
    }

    .input-wrapper {
        margin-bottom: 1rem;
    }

    .submit-btn {
        background-color: $main-color;
        color: $secondary-color;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        
        border-radius: 10rem;
        border: none;
        margin-top: 2rem;
        padding: 0.5rem;
    }
}

#signup-page,
#login-page {
    background-color: $secondary-color;

    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    padding: 0 1.2rem;
}