.homepage--wrapper{
  padding: 3rem 1.2rem;
  

  &__intro{
    padding-top: 2rem;
    
    .text{
      width: 100%;

      h1 {
        @include fontmain(2.3rem);
        margin-bottom: 1rem;
      }

      p{
        @include fontsecondary(1.1rem, 600);
        margin-bottom: .8rem;
      }

      .introBtn_link{
        display: inline-block;
        @include fontsecondary(1.2rem, 600);
        background-color: $main-color;
        color: $secondary-color; 
        text-decoration: none;
        padding: .6rem 1.7rem;
        border-radius: 5rem;
      }

    } 

    .intro_img{
      display: none;
      width: 100%;
      
      img{
        width: 100%;
        height: 100%;
      }
    }


  }
  // EMPLOYER SECTION
  &__employer{
    padding-top: 2rem;
    position: relative;
    height: 470px;


    .employer-img{
      width: 100%;
      height: 100%;
      
      img{
        width: 100%;
        height: 100%;
      }
      
    }
    
    .text{
      position: absolute;
      bottom: 0;
      padding: 1rem 0;
      background-color: $secondary-color;
      width: 100%;
      

      p{
        @include fontsecondary(1rem, 600);
        margin-bottom: 1rem;
      }
  
      h1{
        @include fontmain(1.8rem);
        margin-bottom: 1rem;
      }
  
      .btn_link{
        color: $secondary-color; 
        text-decoration: none;
        display: inline-block;
        padding: .8rem 1.75rem;
        border-radius: 2rem;
        background-color: $main-color;
        @include fontsecondary(1rem, 600);
      }
    }
  }

  // CATEGORIRS SECTION
  &__categories{
    padding-top: 2rem;

    h1{
      @include fontmain(1.8rem);
      margin-bottom: .6rem;
    }
    
    .categories_wrapper{
      display: grid;
      grid-template-columns: auto auto;
    }

    .category{
      padding: 1rem .5rem;
      border-radius: .5rem;
      margin: .2rem;
      background-color: $main-color;
      color: $secondary-color;
      @include flex(column);
      justify-content: center;
      @include fontsecondary(.8rem, 600);

      .icon{
        font-size: 1.2rem;
        margin-bottom: .4rem;
      }
    }
  }

  // EMPLORYEE SECTION
  &__employee{
    padding-top: 2rem;
    position: relative;
    height: 470px;


    .employee-img{
      width: 100%;
      height: 100%;
      
      img{
        width: 100%;
        height: 100%;
      }
      
    }
    
    .text{
      position: absolute;
      bottom: 0;
      padding: 1rem 0;
      width: 100%;
      background-color: $secondary-color;

      p{
        @include fontsecondary(1rem, 600);
        margin-bottom: 1rem;
      }
  
      h1{
        @include fontmain(1.8rem);
        margin-bottom: 1rem;
      } 
  
      .btn_link{
        color: $secondary-color; 
        text-decoration: none;
        display: inline-block;
        padding: .8rem 1.75rem;
        border-radius: 2rem;
        background-color: $main-color;
        @include fontsecondary(1rem, 600);
      }
    }
  }
}


@media screen and (min-width: 360px){
  .homepage--wrapper{
    
    &__employer{
      height: 450px;
    }  

    &__employee{
      height: 450px;
    }  

  }
}

@media screen and (min-width: 768px) {
  .homepage--wrapper{
    padding: 3rem 4rem;

    &__intro{

      .text{

        h1{
          font-size: 5rem;
        }

        p{
          font-size:2rem;
        }

        .introBtn_link{
          padding: 1rem 2rem;
          font-size: 1.75rem;
        }

      }
    }

    &__employer{

      .text{

        h1{
          font-size: 2.3rem;
        }

        .btn_link{
          padding: .6rem 2rem;
          font-size: 1.75rem;
        }
      }
    }
    
    &__categories{

      h1{
        font-size: 2.3rem;
      }

      .categories_wrapper{

        grid-template-columns: auto auto auto;

        .category{
          padding: 2rem 1rem;
          font-size: 1.5rem;

          .icon{
            font-size: 2rem;
          }
        }
      }

  
    }

    &__employee{

      .text{

        h1{
          font-size: 2.3rem;
        }

        .btn_link{
          padding: .6rem 2rem;
          font-size: 1.75rem;
        }
      }
    }
  } 
}

@media screen and (min-width: 1024px){
  .homepage--wrapper{
    padding: 5rem 6rem;

    &__intro{
      display: flex;

      .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
          font-size: 4.3rem;
        }

        .introBtn_link{
          color: $secondary-color; 
          text-decoration: none;
          padding: 1.3rem 3rem;
          border-radius: 5rem;
          width: 15.5rem;
          @include fontsecondary(2rem, 600);
          background-color: $main-color;
        }

        
      }

      .intro_img{
        display: block;
      }
    }

    &__employer{
      display: flex;

      .text{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        h1{
          font-size: 2.3rem;
        }

        .btn_link{
          width: 12rem;
          padding: 1.2rem;
          @include fontsecondary(1.5rem, 600)
        }
      }
    }

    &__categories{

      h1{
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }
      
      .categories_wrapper{
        grid-template-columns: auto auto auto auto;
      }

      .category{
        padding: 1.5rem 1rem;
        margin: .5rem;
        font-size: 1.5rem;

        .icon{
          font-size: 2rem;
        }
      }

    }



    &__employee{
      display: flex;

      .text{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        h1{
          font-size: 2.3rem;
        }

        .btn_link{
          width: 12rem;
          padding: 1.2rem;
          @include fontsecondary(1.5rem, 600)
        }
      }
    }
  }
}

