$dark-grey: #c2cbd1;

#jobs-container {
  margin: 4rem 0 0 24rem;

  * {
    font-family: $secondary-font;
  }

  &__header {
    margin-bottom: .75rem;
  }
}

#jobs-container__main{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
}

.job-card {
  background-color: #f3f3f3;
  margin-bottom: .25rem;
  width: 16rem;

  border-bottom: solid 1px rgba($main-color, 0.3);
  padding: 1rem;

  .section-name {
    font-size: 14px;
    color: #617985;
  }

  &__title {
    font-size: 22px;
    margin-bottom: .5rem;
  }

  &__price {
    margin-bottom: .5rem;
  }

  &__description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  &__tags-container {
    display: flex;
    flex-direction: row;


    .tag {
      font-size: 16px;
      background: rgba($main-color, 0.3);
      border: none;
      color: #617985;
      margin-right: 0.5rem;
      padding: 3px 10px;
      border-radius: 10rem;
      font-weight: 600;
    }
  }
}