.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .mnav--wrapper{
    padding: .75rem 1rem;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
  
    &__left{
      display: flex;
      align-items: center;
      
      .burger{
        width: 2rem;
        height: 1.75rem;
        margin-right: .5rem;
        position: relative;

        span{
          height: 2px;
          width: 2rem;
          background-color: #000;
          display: block;
          position: absolute;
          
        }

        #bar-1{
          top: 0;
          left: 50%;
          transform: translate(-50%, 3px);
        }
        #bar-2{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        #bar-3{
          top: 100%;
          left: 50%;
          transform: translate(-50%, -5px);
        }

        
      }

      .logo{
  
        img{
          width: 1.8rem;
        }
      }
    }

    .open-menu{
      overflow: hidden;
      width: 25rem;
      height: 100vh;
      background-color: #181847;
      position: absolute;
      top: 3.25rem;
      left: 0;
      transition: ease-in-out .5s;
    }

    .close-menu{
      overflow: hidden;
      width: 15rem;
      height: 100vh;
      background-color: #181847;
      position: absolute;
      top: 3.25rem;
      left: -100%;
      transition: ease-in-out .5s;
    }
  
    &__right{
  
      .link{
        padding: .3rem .5rem;
        border-radius: 1rem;
        margin-left: .5rem;
        background-color: $primary;
        color: $neutral;
        text-decoration: none;
      }
    }
  }

  .dnav--wrapper{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar{

    .mnav--wrapper{
      display: none;
    }

    .dnav--wrapper{
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      &__left{
        @include flex(row);
        align-items: center;

        .logo{

          img{
            width: 5rem;
          }
        }
        .links{

          .link{
            color: #000;
            text-decoration: none;
            margin: .5rem;
          }
        }
      }

      &__right{
        @include flex(row);
        align-items: center;

        .links{

          .link{
            color: #000;
            text-decoration: none;
            margin: .5rem;
          }
        }
      }
    }
  }
}
