.navin--wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 6rem;
  height: 5rem;
  z-index: 2;

  @include flex(row);
  justify-content: space-between;
  align-items: center;

  background-color: aliceblue;

  .logo{
    @include fontmain(2rem);
  }

  .navin--links{
    @include flex(row);
    align-items: center;


    input{
      width: 24rem;
      height: 3rem;
      padding: 1rem;

      border-radius: .5rem;
    }

    .view--actions{
      margin-left: 5rem;
      padding: 1rem;
      border: 1px solid #000;
      border-radius: .5rem;
    }

    .user--info{
      margin-left: 5rem;
      position: relative;

      @include flex(row);
      align-items: center;
      cursor: pointer;

      .user-logo{
        font-size: 2rem;
      }

      .dropdown{
        position: absolute;
        left: -3rem;
        top: 3rem;


        width: 15rem;
        backdrop-filter: blur(12px);

        .dropdown-content{
          padding: .5rem;

          li{
            padding: .75rem;
            margin-bottom: .75rem;
            border-radius: .5rem;
          }
          
          button{
            padding: .75rem;
            margin-bottom:.75rem;
            width: 100%;
            border: none;
            border-radius: .5rem;
          }
        }
      }

      .hide{
        display: none;
      }
    }
}

}