// .nav--wrapper{
//   padding: 1rem 1.2rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: fixed;
//   width: 100%;

//   .menu-btn{
//     width: 1.5rem;
//     height: 1.5rem;
//     display: inline-block;
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//     cursor: pointer;

//     &__bar{
//       background: #000000;
//       width: 100%;
//       height: .125rem;
//       border-radius: 5px;  
//       display: block;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);

//       &::before{
//         content: '';
//         background: #000000;
//         width: 100%;
//         height: .125rem;
//         border-radius: 5px;
//         display: block;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate( -50%, -10px);

//       }

//       &::after{
//         content: '';
//         background: #000000;
//         width: 100%;
//         height: .125rem;
//         border-radius: 5px;
//         display: block;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate( -50%, 8px);
//       }

//       // CLOSE MENU

//     }
//   }
  

//   &__logo{
//     z-index: 2;
//     padding-bottom: .4rem;
//     border-bottom: 1px solid #000;

    
//     img{
//       width: 1.8rem;
//       aspect-ratio: 5/4;
//     }

//     .nav__desktop{
//       display: none;
//     }
//   }


//   &__mobile{
//       display: none;

//       .links_mobile{
//         z-index: 1;
//         height: 100vh;
//         width: 100%;
//         padding: 4rem 1.2rem;
//         position: absolute;
//         top: 0;
//         right: 0;
//         background-color: #ebebeb;
//         display: flex;
//         flex-direction: column;

//       li{
//         padding: 1.2rem 0;
//         margin-bottom: 2rem;
//         @include fontmain(1.5rem);
//         font-weight: 600;

//         .link{
//           color: #000;
//           text-decoration: none;
//         }
//       }

//       .link-btn{
//         padding: .8rem;
//         border-radius: 2rem;
//         background-color: $main-color;
//         color: $secondary-color;
//         text-align: center;
//         width: 90%;
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         transform: translate(-6%, -50%);
//       }
//     }
//   }
// }

// @media screen and (min-width: 1024px) {
//   .nav--wrapper{
//     padding: 1rem 3rem;
//     border-bottom: 1px solid #a2a2a2;
//     backdrop-filter: blur(10px);

//     .menu-btn{
//       display: none;
//      } 

//     &__logo{
//       border-bottom: none;
//       display: flex;
//       align-items: center;

//      img{
//       aspect-ratio: 4/2.25;
//       width: 4rem;
//      }

//      .nav__desktop{
//       width: 100%;
//       display: flex;
//       justify-content: space-between;

//       .links__desktop--left{
//         display: flex;
//         align-items: center;

//         li{
//           padding: .5rem;
//           margin: 0 1rem;
//           @include fontmain(1.3rem);
//           font-weight: 600;

//           .link{
//             color: #000;
//             text-decoration: none;
//           }
//         }
//       }

//       .links__desktop--right{
//         display: flex;
//         align-items: center;

//         div{
//           position: relative;
          
//           input{
//             padding: .6rem 1rem;
//             margin-left: 0;
//             border-radius: .7rem 0 0 .7rem;
//             border: 1px solid #000;
//             border-right: none;
//             width: 24rem;
//           };
          
//           button{
//             margin-right: 0;
//             padding: .56rem .8rem;
//             border: 1px solid #000;
//             border-left: none;
//             border-radius: 0 .7rem .7rem 0;

//             .search{
              
//             }
//           }
          
//         }

//         li{
//           padding: .5rem;
//           margin: 0 1rem;
//           @include fontmain(1.3rem);
//           font-weight: 600;

//           .link{
//             color: #000;
//             text-decoration: none;
//           }
//         }
//       }
//     }

//     }

//     &__mobile{
//       display: none;
//     }

//   }
// }


.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .mnav--wrapper{
    padding: .75rem 1rem;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
  
    &__left{
      display: flex;
      align-items: center;
      
      .burger{
        width: 2rem;
        height: 1.75rem;
        margin-right: .5rem;
        position: relative;

        span{
          height: 2px;
          width: 2rem;
          background-color: #000;
          display: block;
          position: absolute;
          
        }

        #bar-1{
          top: 0;
          left: 50%;
          transform: translate(-50%, 3px);
        }
        #bar-2{
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        #bar-3{
          top: 100%;
          left: 50%;
          transform: translate(-50%, -5px);
        }

        
      }

      .logo{
  
        img{
          width: 1.8rem;
        }
      }
    }

    .open-menu{
      overflow: hidden;
      width: 25rem;
      height: 100vh;
      background-color: #181847;
      position: absolute;
      top: 3.25rem;
      left: 0;
      transition: ease-in-out .5s;
    }

    .close-menu{
      overflow: hidden;
      width: 15rem;
      height: 100vh;
      background-color: #181847;
      position: absolute;
      top: 3.25rem;
      left: -100%;
      transition: ease-in-out .5s;
    }
  
    &__right{
  
      .link{
        padding: .3rem .5rem;
        border-radius: 1rem;
        margin-left: .5rem;
        background-color: $main-color;
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }

  .dnav--wrapper{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar{

    .mnav--wrapper{
      display: none;
    }

    .dnav--wrapper{
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      &__left{
        @include flex(row);
        align-items: center;

        .logo{

          img{
            width: 5rem;
          }
        }
        .links{

          .link{
            color: #000;
            text-decoration: none;
            margin: .5rem;
          }
        }
      }

      &__right{
        @include flex(row);
        align-items: center;

        .links{

          .link{
            color: #000;
            text-decoration: none;
            margin: .5rem;
          }
        }
      }
    }
  }
}
